.panel{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px; 
    margin-left: 10px; 
    box-shadow: 0 3px 10px -1px rgb(0 0 0 / 30%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%) !important;
}

.form{
    text-align: center;
    align-items: center;
    align-content: center;
    padding-bottom: 40px;
}

.inputform{
    width: 100%;
    margin-bottom: 10px;
}

.labelform{
    float: left;
}

.fieldEmpty{
    color: rgb(218, 34, 34)
}