<div class="panel">
    <h5 class="title">Todos os clientes</h5>
    <div class="card">
        <p-table 
            #dt2
            [value]="clients"
            dataKey="id"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loading"
            [paginator]="true"
            currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} entradas"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
            [tableStyle]="{ 'min-width': '75rem', }"
            >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')" placeholder="Palavra chave" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%">Código</th>
                    <th style="width:16%">Nome</th>
                    <th style="width:12%">Cnpj</th>
                    <th style="width:12%">Rua</th>
                    <th style="width:5%">Nº</th>
                    <th style="width:11%">Bairro</th>
                    <th style="width:11%">Cidade</th>
                    <th style="width:11%">Cep</th>
                    <th style="width:11%">Complemento</th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="code"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="name"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="cnpj"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="street"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="number"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="district"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="city"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="cep"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="complement"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-client>
                <tr>
                    <td>
                        {{ client.code }}
                    </td>
                    <td>
                        {{ client.name }}
                    </td>
                    <td>
                        {{ client.cnpj}}
                    </td>
                    <td>
                        {{ client.street }}
                    </td>
                    <td>
                        {{ client.number }}
                    </td>
                    <td>
                        {{ client.district }}
                    </td>
                    <td>
                        {{ client.city }}
                    </td>
                    <td>
                        {{ client.cep }}
                    </td>
                    <td>
                        {{ client.complement }}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">Nenhum cliente encontrado.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>   